<form action="/<%= @id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <div class="span-left"><label>Translation<br>
    <input type="text" name="translation" value="<%= @lexeme.translation %>">
  </label></div>
  <% unless @lexeme.closed? %>
    <% %w[Accuracy Flexibility Simplicity Hebraicity Certainty].each_with_index do |label, i| %>
      <div class="span-right"><label><%= label %><br>
        <select name="quality[]">
          <% 0.upto(5) do |j| %>
            <option value="<%= j %>"<%= ' selected' if @lexeme.quality[i] == j %>><%= j %></option>
          <% end %>
        </select> &nbsp;
      </label></div>
    <% end %>
  <% end %>
  <div class="span-left"><fieldset><legend>Tags</legend>
    <% Lexeme::TAGS.each do |tag| %>
      <label>
        <input type="checkbox" name="tags[]" value="<%= tag %>"<%= ' checked' if @lexeme.tags.include?(tag) %>> <%= tag %>
      </label><br>
    <% end %>
  </fieldset></div>
  <div class="span-right"><label>Part of Speech<br>
    <select name="pos">
      <option value="?">&nbsp;</option>
      <% Lexeme::PARTS_OF_SPEECH.each do |k, v| %>
        <option value="<%= k %>"<%= ' selected' if @lexeme.pos == k %>><%= v %></option>
      <% end %>
    </select>
  </label><br><br><label>Etymology<br>
    <input type="text" name="etymology" value="<%= @lexeme.etymology %>">
  </label></div>
  <div class="span-full"><label>G Subs (1 per line)<br>
    <textarea name="gsubs"><%= @lexeme.gsubs_to_s.tr('!', '|').gsub(' ', "\n") %></textarea>
  </label></div>
  <div class="span-full"><label>Explanation<br>
    <textarea name="explanation"><%= @lexeme.explanation %></textarea>
  </label></div>
  <div class="span-full">
    <input type="submit" name="commit" value="Save changes">
  </div>
</form>
